<section class="mt20">
    <!--新增供应商-->
    <div class="main animsition">
        <div class="container-fluid">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                         <a onclick="history.back()" class="panel-title floatRight"><i class="fa fa-reply"></i></a>
                         <h3 class="panel-title">新增供应商</h3>
                    </div>
                    <div class="panel-body">

                        <form class="form-horizontal" role="form" ng-submit="fnAddSupplier()">
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">供应商名</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="name" id="name" autofocus ng-model="supplierInfo.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="account" class="col-md-3 control-label">账户</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="account" id="account" autofocus ng-model="supplierInfo.account">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">密码</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="password" id="password" autofocus ng-model="supplierInfo.password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-md-3 control-label">描述</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="description" id="description" autofocus ng-model="supplierInfo.description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="is_check" class="col-md-3 control-label">状态</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="is_check" id="is_check" autofocus ng-model="supplierInfo.is_check">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contacts" class="col-md-3 control-label">联系人</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="contacts" id="contacts" autofocus ng-model="supplierInfo.contacts">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-md-3 control-label">联系电话</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="phone" id="phone" autofocus ng-model="supplierInfo.phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="qq" class="col-md-3 control-label">qq</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="qq" id="qq" autofocus ng-model="supplierInfo.qq">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remark" class="col-md-3 control-label">备注</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="remark" id="remark" autofocus ng-model="supplierInfo.remark">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-7 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary btn-md">
                                        <i class="fa fa-plus-circle"></i>
                                        添加
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div ng-show="supplierInfo.pending" class="col-sm-offset-2 col-sm-6 alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <strong>正在提交...</strong>
                        </div>
                        <div ng-if="supplierInfo.addStatus" class="col-sm-offset-2 col-sm-6 alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <strong>新增供应商成功!</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>