<section>
    <div class="contain mt20">
        <div class="row">
            <div class="col-md12">
                <form class="form-inline" role="form" ng-submit="vm.search()">
                    <div class="form-group">
                        <label for="date">整单日期</label>
                        <datetimepicker dateID="begin" format="Y-m-d" class="form-control" ng-model="vm.searchInfo.order_pay_after_date"></datetimepicker>
                    </div>
                    <div class="form-group">
                        <label for="date">下单日期</label>
                        <datetimepicker dateID="begin" format="Y-m" class="form-control" ng-model="vm.searchInfo.date_purchased"></datetimepicker>
                    </div>
                    <div class="form-group">
                        <label for="website_name">域名</label>
                        <input id="website_name" type="text" class="form-control" ng-model="vm.searchInfo.website_name">
                    </div>
                    <div class="form-group">
                        <label for="website_supervisor_id">负责人</label>
                        <select class="form-control" name="websitename" id="website_supervisor_id" ng-options="supervisor.id as supervisor.name for supervisor in vm.supervisors" ng-model="vm.searchInfo.website_supervisor_id"></select>
                    </div>
                    <div class="form-group">
                        <label for="od_status_id">状态</label>
                        <select class="form-control" name="od_status" id="od_status_id" ng-options="status.id as status.name for status in vm.statuses" ng-model="vm.searchInfo.od_status_id"></select>
                    </div>
                    <div class="form-group">
                        <label for="od_pay_after_status_id">订单状态</label>
                        <select ng-chage="vm.test(vm.searchInfo)" class="form-control" name="od_pay_after_status" id="od_pay_after_status_id" ng-options="afterStatus.id as afterStatus.name for afterStatus in vm.afterStatuses" ng-model="vm.searchInfo.od_pay_after_status_id"></select>
                    </div>
                    <button type="submit" class="btn btn-default">search</button>
                </form>
            </div>
            <div class="col-md-8 mt20">
                <div class="table-responsive">
                    <table class="table table-bordered blue-table">
                        <caption class="text-center">每日订单统计(付款率查看)</caption>
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>未付款</th>
                            <th>已付款</th>
                            <th>取消单</th>
                            <th>重复单</th>
                            <th>退款单</th>
                            <th>黑名单</th>
                            <th>拒付单</th>
                            <th>总数 (单位：)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="statistic in vm.statistics">
                            <td ng-bind="statistic.date"></td>
                            <td ng-bind="statistic.unpaid"></td>
                            <td ng-bind="statistic.paid"></td>
                            <td ng-bind="statistic.cancleo"></td>
                            <td ng-bind="statistic.repeato"></td>
                            <td ng-bind="statistic.refundo"></td>
                            <td ng-bind="statistic.blacklist"></td>
                            <td ng-bind="statistic.dishonour"></td>
                            <td ng-bind="statistic.rate + '% &nbsp;' + statistic.count + '(' + statistic.totals + ')'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 mt20">
                <div class="table-responsive">
                    <table class="table table-bordered blue-table">
                        <caption class="text-center">每日订单排行</caption>
                        <thead>
                        <tr>
                            <th>订单数</th>
                            <th>姓名</th>
                            <th>总额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="list in vm.ranklist">
                            <td ng-bind="list.count"></td>
                            <td ng-bind="list.supervisor_id"></td>
                            <td ng-bind="list.total"></td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="4">订单数量：<span ng-bind="vm.ordersCount"></span> 总额：<span ng-bind="vm.total"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>