/*login*/
@media screen and (min-width: 767px) {
    .login-bg {
        background: url("../images/loginbg.png") no-repeat;
    }
    .login-logo a {
        color: #3c8dbc;
    }
}
@media screen and (max-width: 767px) {
    .login-bg {
        background: url("../images/loginphone.jpeg") no-repeat;
    }
}


.input-info {
    margin-bottom: 0;
    padding:3px;
    margin-top:5px;
}
