/*订单style*/
.order-small-image {
    width:50px;
    height:auto;
}

/*采购分组*/
.group-box {
    position: absolute;
    bottom: 0;
    right:0;
    width:250px;
    border:1px solid #00a7d0;
    padding:5px;
}

.group-box h2 {
    text-align: center;
    font-size: 18px;
    margin-top:10px;
}

.group-box .row {
    margin:0 0 5px;
}
.group-box .row>div {
    overflow: hidden;
}