.ask-for-leave {
    margin-bottom:30px;
    text-align: center;
    border-bottom:2px solid #000;
}

#leaveForm span.form-control {
    background: none;
    border:none;
    padding: 6px 17px;
}

.leave-desc {
    max-width:800px;
    margin:0 auto;
    border:1px dotted #ccc;
    padding:5px 25px;
}